#PCheader {
  background-image: url("img/PCheader.png");
  background-size: 100%;
  width: 100vw;
  height: 33.8vw;
}
#PCdaytime {
  background-image: url("img/PCdaytime.png");
  background-size: 100%;
  width: 100vw;
  height: 7.8vw;
}
#PCguest {
  background-image: url("img/PCguest.png");
  background-size: 100%;
  width: 100vw;
  height: 83.3vw;
}
#PCapply {
  background-image: url("img/PCapplyback.png");
  background-size: 100%;
  width: 100vw;
  height: 61.46vw;
}
#PCapplybutton {
  width: 20.3vw;
  height: 4.68vw;
  position: relative;
  top: 37.5vw;
  left: 23.2vw;
}
#PCaccess {
  background-image: url("img/PCaccess.png");
  background-size: 100%;
  width: 100vw;
  height: 80.73vw;
}
#PCcontact {
  background-image: url("img/PCcontact.png");
  background-size: 100%;
  width: 100vw;
  height: 21.88vw;
}
#PCfooter {
  background-image: url("img/PCfooter.png");
  background-size: 100%;
  width: 100vw;
  height: 14.32vw;
}
#PCcopyright {
  background-image: url("img/PCcopyright.png");
  background-size: 100%;
  width: 100vw;
  height: 3.91vw;
}
#MOBILEheader {
  background-image: url("img/MOBILEheader.png");
  background-size: 100%;
  width: 100vw;
  height: 146.6vw;
}
#MOBILEheader {
  background-image: url("img/MOBILEheader.png");
  background-size: 100%;
  width: 100vw;
  height: 146.6vw;
}
#MOBILEdaytime {
  background-image: url("img/MOBILEdaytime.png");
  background-size: 100%;
  width: 100vw;
  height: 72vw;
}
#MOBILEguest {
  background-image: url("img/MOBILEguest.png");
  background-size: 100%;
  width: 100vw;
  height: 384vw;
}
#MOBILEapply {
  background-image: url("img/MOBILEapplyback.png");
  background-size: 100%;
  width: 100vw;
  height: 241.3vw;
  text-align: center;
}
#MOBILEapplybutton {
  width: 60vw;
  height: 13.6vw;
  position: relative;
  top: 105vw;
}
#MOBILEaccess {
  background-image: url("img/MOBILEaccess.png");
  background-size: 100%;
  width: 100vw;
  height: 290.6vw;
}
#MOBILEcontact {
  background-image: url("img/MOBILEcontact.png");
  background-size: 100%;
  width: 100vw;
  height: 53.3vw;
}
#MOBILEfooter {
  background-image: url("MOBILEfooter.png");
  background-size: 100%;
  width: 100vw;
  height: 46.6vw;
}
#MOBILEcopyright {
  background-image: url("img/MOBILEcopyright.png");
  background-size: 100%;
  width: 100vw;
  height: 18.6vw;
}
