@media screen and (min-width: 768px) {
  #header-bar {
    display: none;
  }
  #main-visual {
    background-image: url("img/PCmain-visual.png");
    background-size: 100%;
    width: 100vw;
    height: 33.85vw;
  }
  #time-day {
    background-image: url("img/PCtime-day.png");
    background-size: 100%;
    width: 100vw;
    height: 7.81vw;
  }
  #content {
    background-image: url("img/PCcontent.png");
    background-size: 100%;
    width: 100vw;
    height: 140.6vw;
  }
  #apply {
    background-image: url("img/PCapply.png");
    background-size: 100%;
    width: 100vw;
    height: 66.6vw;
  }
  #PCapplybutton {
    width: 46.8vw;
    height: 5.26vw;
    position: relative;
    top: 39.2vw;
    left: 26.6vw;
  }
  #access {
    background-image: url("img/PCaccess.png");
    background-size: 100%;
    width: 100vw;
    height: 80.7vw;
  }
  #contact {
    background-image: url("img/PCcontact.png");
    background-size: 100%;
    width: 100vw;
    height: 21.8vw;
  }
  #organizer {
    background-image: url("img/PCorganizer.png");
    background-size: 100%;
    width: 100vw;
    height: 14.3vw;
  }
  #copyright {
    background-image: url("img/PCcopyright.png");
    background-size: 100%;
    width: 100vw;
    height: 3.9vw;
  }
}
@media all and (max-width: 767px) {
  #header-bar {
    background-image: url("img/MOBILEhedder-bar.png");
    background-size: 100%;
    width: 100vw;
    height: 13.3vw;
  }
  #main-visual {
    background-image: url("img/MOBILEmain-visual.png");
    background-size: 100%;
    width: 100vw;
    height: 160vw;
  }
  #time-day {
    background-image: url("img/MOBILEtime-day.png");
    background-size: 100%;
    width: 100vw;
    height: 72vw;
  }
  #content {
    background-image: url("img/MOBILEcontent.png");
    background-size: 100%;
    width: 100vw;
    height: 550.6vw;
  }
  #apply {
    background-image: url("img/MOBILEapply.png");
    background-size: 100%;
    width: 100vw;
    height: 213.3vw;
  }
  #MOBILEapplybutton {
    width: 60vw;
    height: 13.3vw;
    position: relative;
    top: 152vw;
    left: 20vw;
  }
  #access {
    background-image: url("img/MOBILEaccess.png");
    background-size: 100%;
    width: 100vw;
    height: 273.3vw;
  }
  #contact {
    background-image: url("img/MOBILEcontact.png");
    background-size: 100%;
    width: 100vw;
    height: 53.3vw;
  }
  #organizer {
    background-image: url("img/MOBILEorganizer.png");
    background-size: 100%;
    width: 100vw;
    height: 34.6vw;
  }
  #copyright {
    background-image: url("img/MOBILEcopyright.png");
    background-size: 100%;
    width: 100vw;
    height: 18.6vw;
  }
}
